h1 {
    color: red;
}
img{
    width: 400px;
}
#thirdDiv {
    background-color: yellow;
    height: 500px;
    width: 600px;
    padding: 50px;
    border: 10px  solid yellowgreen; 

}
#spanID {
 font-size: 28px;   
 margin: 50px;
}